{{define "header"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <title>ToDo</title>
</head>

<body>
    <header class="header ui container">
        <nav class="header__menu">
            <div class="user" id="user">
                <i class="transgender alternate icon"></i>
                <i class="angle left icon"></i>
            </div>
            <a href="/" title="Home"><i class="home icon"></i></a>
            <a href="/day.html" title="Your day"><i class="clock outline icon"></i></a>
            <a href="/week.html" title="Your week"><i class="calendar alternate outline icon"></i></a>
            <a href="/month.html" title="Your month"><i class="calendar icon"></i></a>
            <a href="/year.html" title="Your year"><i class="hourglass outline icon"></i></a>
            <a href="/setting.html" title="Setting"><i class="sliders horizontal icon setting"></i></a>
        </nav>
        <div class="ui horizontal divider">
            <h3>ProBe</h3>
        </div>
        <aside class="menu-left">

        </aside>
    </header>
</body>

{{end}}

</html>